<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Rentals.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="MyConnectionString" connectionString="Data Source=DESKTOP-8UJNAUU\SQLEXPRESS;Initial Catalog=Rents_Management;Integrated Security=True" />
    <add name="Rentals.Properties.Settings.Rents_ManagementConnectionString"
      connectionString="Data Source=DESKTOP-8UJNAUU\SQLEXPRESS;Initial Catalog=Rents_Management;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <applicationSettings>
    <Rentals.Properties.Settings>
      <setting name="loc" serializeAs="String">
        <value>0, 0</value>
      </setting>
    </Rentals.Properties.Settings>
  </applicationSettings>
</configuration>